
:root {
    --image: url('/public/images/logos/github-mark-white.svg');
    --github-mark-size: 1.5rem;
}

:root.light {
    --image: url('/public/images/logos/github-mark.svg');
}

.github-link {
    display: inline-block;
    height: var(--github-mark-size);
    aspect-ratio: 1/1;
    background-image: var(--image);
    background-size: contain;
    background-repeat: no-repeat;
}