
:root {
    --surround-space: 20%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: var(--surround-space);
    margin-left: var(--surround-space);
}

.main-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.submit-button {
    font-size: 100%;
    border: 2px white solid;
    border-radius: 2rem;
    color: white;
    background: transparent;
    margin-top: 1.5rem;
    height: 3rem;
    width: 15rem;
    position: relative;
    transition: 500ms;
}

.submit-button:hover {
    transform: translateY(-5px);
    border-color: #9999FF;
}

.submit-button.clicked {
    animation: button-click-anim 0.5s cubic-bezier(.87, .17, .4, .88) forwards;
    border-color: #555555;
    color: #AAAAAA;
}

@keyframes button-click-anim {
    0% {
        scale: 0.9;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.submit-button::before {
    content: "";
    background: transparent;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.submit-button.clicked::before {
    animation: button-border-expand 0.5s ease forwards;
}

@keyframes button-border-expand {
    15% {
        border: #9999FF solid 2px;
    }

    80% {
        scale: 1.5;
        border: #9999FF22 solid 2px;
    }

    100% {
        border: transparent solid 2px;
    }
}

@media (max-width: 800px) {

    :root {
        --surround-space: 5%;
    }

}