
:root {
    --surround-space: 30vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-right: var(--surround-space);
    padding-left: var(--surround-space);
}

.main-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #00000022, #00000055);
    border-bottom: 2px solid white;
    width:100%;
}

.input-field {
    outline: none;
    padding: 0.2rem;
    width:100%;
    background: transparent;
    border: none;
    border-color: transparents;
    color: white;
    font-size: 80%;
}

textarea.input-field {
    resize: vertical;
    height: 3rem;
    max-height: 10rem;
    width: 100%;
}

.submit-button {
    border: 2px white solid;
    border-radius: 15px;
    color: white;
    background: transparent;
    height: 2rem;
    width: 20rem;
}