.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    gap: 3rem;
    width: calc(100% - 2rem);
    padding: 1rem;
}

.project {
    padding: 1rem;
    border: 2px white solid;
    border-radius: 25px;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 1fr);

    box-shadow: -10px 10px 20px 5px black;
    position: relative;
}

.project-bg {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #111111EE, #111111);
    z-index: -1;
}

.project-light {
    height: 100%;
    width: 100%;
    background: radial-gradient(20rem circle at var(--mouse-x) var(--mouse-y), #AAAAFF11, transparent 50%);
    transition: 3s;
    opacity: 0.5;
}

.project-light:hover {
    opacity: 1;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title {
    padding-right: 0.5rem;
}

.project-image-area {
    overflow: hidden;
}

.project-image {
    max-width: 65%;
    max-height: 100%;
    cursor: pointer;
    z-index: 1;
}

.project-tech-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech {
    padding: 0.5rem;
}

@media (max-width: 780px) {
    .projects-container {
        grid-template-columns: auto;
        width: auto;
    }
}