
:root {
    --rotation-time: 200ms;
    --rotation-delay: 10ms;
    --rotation-degrees: 10deg;
    --transition-timing: linear;
    --text-rotation-distance-multiplier: 0.188rem;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 90vw;
    gap: 3rem;
    width: calc(100% - 2rem);
    padding: 1rem;
}

.project {
    padding: 1rem;
    border: 2px white solid;
    border-radius: 25px;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: row;
    grid-auto-rows: minmax(0, 1fr);

    box-shadow: 
        inset 2px -2px 5px 1px black,
        -10px 10px 20px 5px black;
    position: relative;

    transition: var(--rotation-time);
    transition-timing-function: var(--transition-timing);
    transition-delay: var(--rotation-delay);
    transform: rotate3d(var(--rotate-x, 0), var(--rotate-y, 0), 0, var(--rotation-degrees));
}

.text-shadow-rotation {
    --offset-x: calc(var(--rotate-y) * var(--text-rotation-distance-multiplier) - 3px);
    --offset-y: calc(var(--rotate-x) * var(--text-rotation-distance-multiplier) + 4px);
    transition: var(--rotation-time);
    transition-timing-function: var(--transition-timing);
    transition-delay: var(--rotation-delay);
    text-shadow: var(--offset-x) var(--offset-y) 0.19rem rgba(0, 0, 0, 1);
}

.project-bg {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #11111133, #11111155);
    z-index: -1;
}

.project-light {
    height: 100%;
    width: 100%;
    background: radial-gradient(20rem circle at var(--mouse-x) var(--mouse-y), #AAAAFF11, transparent 50%);
    transition: 3s;
    opacity: 0.5;
}

.project-light:hover {
    opacity: 1;
}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title {
    padding-right: 0.5rem;
}

.project-image-area {
    overflow: hidden;
}

.project-image {
    max-width: 65%;
    max-height: 100%;
    cursor: pointer;
    z-index: 1;
}

.project-tech-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech {
    padding: 0.5rem;
}

@media (max-width: 780px) {
    .projects-container {
        grid-template-columns: auto;
        width: auto;
    }
}

/*turn off the rotation effects for touch-screen*/
@media (hover: none) {

    .project {
        transform: rotate3d(0, 0, 0, 0deg);
    }

    .text-shadow-rotation {
        text-shadow: -3px 4px 3px rgba(0, 0, 0, 1);
    }

}