

.resume-button {
    width: min(18.75rem, 80vw);
    height: 3.125rem;
    background: #33333344;
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    font-size: 120%;
    position: relative;
    transition: 0.5s;
}

.resume-button:hover {
    transform: translateY(-5px);
    border-color: #9999FF;
}

.resume-button.clicked {
    animation: button-click-anim 0.5s cubic-bezier(.87, .17, .4, .88) forwards;
    border-color: #555555;
    color: #AAAAAA;
}

@keyframes button-click-anim {
    0% {
        scale: 0.9;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

.resume-button::before {
    content: "";
    background: transparent;
    position: absolute;
    border-radius: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.resume-button.clicked::before {
    animation: button-border-expand 0.5s ease forwards;
}

@keyframes button-border-expand {
    15% {
        border: #9999FF solid 2px;
    }

    80% {
        scale: 1.5;
        border: #9999FF22 solid 2px;
    }

    100% {
        border: transparent solid 2px;
    }
}