
:root {
    --about-bg: linear-gradient(to right, #010101 0%, #010101 50%, #111111 65%, #111111 75%, #010101 100%);
}

.about {
    background-image: var(--about-bg);
    min-height: 100vh;
}

.greetings { 
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.greetings-container {
    transform: translateX(-20vw);
}

.description {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.description-container {
    transform: translateX(50%);
}

.about-me-title {
    padding:0px;
}

.about-me-container {
    margin:0px;
    border-radius: 25px;
    border: white solid 1px;
    background: linear-gradient(to right bottom, #111111 0%, #121212 70%, black 100%);
    max-width: max(30vw, 25rem);
}

.about-me-text {
    padding: 2rem;
}

@media(max-width: 768px){
    
    .greetings-container,
    .description-container {
        transform: translate(0);
    }
    
}