
.about {
    position: relative;
    min-height: 100vh;
}

.greetings { 
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.greetings-container {
    transform: translateX(-20vw);
}

.description {
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.description-container {
    transform: translateX(calc((50vw - 50%) * 0.5));
}

.about-me-title {
    padding:0px;
}

.about-me-container {
    margin:0px;
    border-radius: 25px;
    border: white solid 1px;
    background: #11111155;
    max-width: max(30vw, 25rem);
}

.about-me-text {
    padding: 0.5rem;
}

.greeting-text {
    color: white;
}

@media(max-width: 768px){
    
    .greetings-container,
    .description-container {
        transform: translate(0);
    }
    
}