
:root {
    --projects-bg: #111111;
}

.projects {
    background: var(--projects-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 2rem);
    padding: 1rem;
}

.project {
    margin: 0.3rem;
    padding: 1rem;
    height: 50vh;
    border: 2px white solid;
    border-radius: 25px;
    background: linear-gradient(to bottom, transparent 25%, #191919 75%, transparent);
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr auto;

}

.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-title {
    padding-right: 0.5rem;
}

.project-image-area {
}

.project-image {
    max-width: 90%;
    height: 100%;
    object-fit: contain;
}

.project-tech-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tech {
    padding: 0.5rem;
}

@media (max-width: 780px) {
    .projects-wrapper {
        grid-template-columns: 1fr;
    }
}
